In [15]:
# Lecture 4
import numpy as np
import pandas as pd

# Create dataframe

df = pd.DataFrame([[1,2], [3,4]],
                  columns= ['A', 'B'],
                  index = ['i', 'ii'])
print(df)
print(df['A'])

# Create series

L = [1, 'hej', True]

my_series = pd.Series(L)
my_series.to_dict()


num_data = range(0,3)
indices = ['B', 'C', 'A']
my_series2 = pd.Series(num_data, index = indices)
my_series2

    A  B
i   1  2
ii  3  4
i     1
ii    3
Name: A, dtype: int64

B    0
C    1
A    2
dtype: int64

In [24]:
# Numeric operations

my_arr1 = np.array([2,3,2])
my_arr2 = my_arr1 ** 2
print(my_arr2)

my_arr1 + my_arr2

#-----
my_series4 = pd.Series(my_arr2)
print(my_series4.unique())
print(my_series4.value_counts())

[4 9 4]
[4 9]
4    2
9    1
dtype: int64

In [27]:
# Boolean series

my_series4 > 3

0    True
1    True
2    True
dtype: bool

In [29]:
(df['A'] > 2) & (df['B'] <= 2)

i     False
ii    False
dtype: bool

In [32]:
print(my_series4)
my_series4[my_series4 > 5]

0    4
1    9
2    4
dtype: int64

1    9
dtype: int64

In [33]:
n = 3
arr = np.random.normal(size=[100])
my_series7 = pd.Series(arr)
my_series7.head(n)

0    0.153345
1   -0.052585
2    0.487260
dtype: float64

In [36]:
#iloc

arr = np.random.normal(size = 10**6)
pd.Series(arr).iloc[10:13]
#arr[10:13]

10    1.356660
11    0.168709
12   -0.094076
dtype: float64

In [44]:
my_idx = ['i','ii','iii']
my_cols = ['a','b']
my_data = [[1,2],[3,4], [5,6]]
my_df = pd.DataFrame(my_data, columns = my_cols, index = my_idx)
print(my_df)
print('----')
print(my_df.loc['i'])
print('----')

# ------
idx_keep = ['i', 'ii']
cols_keep = ['a']
print(my_df.loc[idx_keep, cols_keep])

     a  b
i    1  2
ii   3  4
iii  5  6
----
a    1
b    2
Name: i, dtype: int64
----
    a
i   1
ii  3

In [46]:
# Set index

print(my_df.set_index('a'))
my_df_copy = my_df.copy()    # Copy data frame
my_df_copy.set_index('a', inplace = True)
print(my_df_copy)

   b
a
1  2
3  4
5  6
   b
a
1  2
3  4
5  6

In [48]:
# Reset index

print(my_df.reset_index(drop = True))

   a  b
0  1  2
1  3  4
2  5  6

In [54]:
# Change column names

print(my_df)
print('----')
my_df.columns = ['a','b']
print(my_df)

     A  B
i    1  2
ii   3  4
iii  5  6
----
     a  b
i    1  2
ii   3  4
iii  5  6

In [58]:
my_df['b'] = 3
print(my_df)
my_df['b'] = [1,2,3]
print(my_df)

     a  b
i    1  3
ii   3  3
iii  5  3
     a  b
i    1  1
ii   3  2
iii  5  3

In [62]:
my_df.sort_values(by='a', ascending = False)

     a  b
iii  5  3
ii   3  2
i    1  1